.container.stdout {
    grid-area: out;
}


::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #c8c8c8; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb::hover {
    background: #989898;
}


.output {
    width: 80%;
    height: 80%;
    background-color: rgba(12, 12, 12, 0.692);
    margin-bottom: 20px;
    border: 3px solid #c7c7c7;
    border-radius: 10px;
    display: block;
    text-align: left;
    overflow-y: scroll;
    font-family: monospace;
    scroll-behavior: smooth;
    div {
        margin: 8px;
        white-space: pre-wrap;
        border: none; 
        background-color: inherit;
        color: inherit; 
        font-family: inherit;
    }
}

.btn-container{
    display: block;
}

.spacer {
    display: inline-block;
    width: 25px;
}